[2015-02-24 09:28] oLMHo opened #1 "Grouping of encoding"
Too difficult to select correct encoding now, certainly need a good method to group it.

[2015-02-24 09:30] oLMHo opened #2 "Config Page Error"
When press enter on general page of config, it will trigger the "browse" button, which is different than expected.

[2015-02-24 09:31] oLMHo opened #3 "Default Pref"
Default font, bgcolor rgba value of the player.

[2015-02-24 09:32] oLMHo opened #4 "hover issue"
Windows specified problem, hovering on bg won't make the buttons appear when alpha value = 0.

[2015-02-24 09:33] oLMHo opened #5 "Subtitle outline"

[2015-02-24 09:34] oLMHo opened #6 "Responsive Subtitle"
scale up with window size

[2015-02-24 09:34] oLMHo opened #7 "drag on slider"
drag on slider, window missing

[2015-02-25 16:38] carsonip commented on #7
fixed in [28619bb6e6e46e62bd1dab3474da84d6545b6756](https://github.com/carsonip/Penguin-Subtitle-Player/commit/28619bb6e6e46e62bd1dab3474da84d6545b6756)

[2015-02-25 16:38] #7 closed

[2015-03-15 08:54] #3 closed

[2015-07-28 10:57] tstrul1 opened #9 "Charset Detection window doesnt show on top of player"
Main window is ok but when i choose srt file the charset detection window is hidden behind the player
(Checked with PowerDVD 15)

[2015-07-28 11:02] tstrul1 opened #10 "Add Hotkeys for changing subtitle offset"
It could be really useful if you could add this feature. Maybe something like:
Ctrl + -> and Ctrl + <- for changing subtitle offset while watching movie

[2015-07-28 12:12] carsonip commented on #9
@tstrul1 thanks for reporting! Do you mean the charset choosing dialog is behind the player(PowerDVD)? Is the player in full screen mode?

[2015-07-28 12:17] carsonip commented on #10
@tstrul1 thanks for the suggestion, will work on it soon.

[2015-07-28 13:47] tstrul1 commented on #9
Yes, PowerDVD is in full screen mode.
When I open penguin subtitle player it opens on top of powerDVD but after i choose an srt file the dialog opens behind powerDVD and I need to minimize/quit full screen mode in order to press "OK".
If it is too difficult to implement maybe consider choosing "Default charset" in players settings and when i choose one, the dialog will not pop out.

[2015-07-28 13:57] carsonip commented on #9
@tstrul1 No problem. Will add an option in the preferences such that the subtitle player uses the detected charset.

[2015-08-12 10:42] tstrul1 commented on #9
Thank you very much! I appreciate it :)

[2015-08-18 06:04] alexhk90 opened #11 "Timer runs slow so subtitles fall behind video in Windows"
Penguin Subtitle Player (0.2.0) falls behind the video for me under Windows (7, 64 bit).

To reproduce, using Windows play a video in (say) VLC and the corresponding subtitles in Penguin Subtitle Player. (Note: I have seen this consistently with other applications / online video players, but VLC is free and open source so easy to use as an example.)
The time falls behind the video at a relatively

[2015-08-18 06:19] alexhk90 opened #12 "Add skip to next/previous subtitle feature"
The existing fast-forward/re-wind buttons use a fixed timer interval to help sync the subtitles to the video - it would be very useful to have additional buttons (and associated keyboard shortcuts, but that's already another feature request: https://github.com/carsonip/Penguin-Subtitle-Player/issues/10) which skipped to the next or previous subtitle entry in the SRT file, regardless of time.

[2015-08-18 08:29] carsonip commented on #11
@alexhk90 thanks for reporting, I can confirm the issue. I am working on it now.

[2015-08-18 09:16] #11 closed

[2015-08-22 22:36] alexhk90 opened #13 "Handle subtitle files where final section is out of time order"
Subtitle files which have out of order sections are not always handled gracefully, particularly when this section is the final subtitle section.

To reproduce, open an SRT file with the following content:
[code]
(make sure the file ends with a full blank line, otherwise the final section is not read and the example does not work)

With the above file, it only shows the first section (1), due to th

[2015-08-23 22:59] alexhk90 commented on #13
Submitted pull request with proposed fix: https://github.com/carsonip/Penguin-Subtitle-Player/pull/14

[2015-08-24 22:32] alexhk90 opened #15 "Option to remember size and position of player"
It would be useful if the size and position of the player was automatically remembered, or could be saved as a default. I usually use it in full screen so need to reposition and resize the main window every time.

[2015-08-24 22:35] alexhk90 opened #16 "Add playback speed/multiplier feature"
Some source subtitle files are too fast/slow (perhaps due to 30/25FPS conversion) - it would be useful to set a speed for the subtitle playback (faster/slower than the actual times in the file). This could be implemented by a multiplier applied to the actual times (e.g. 1.2x the times in the file would increase the speed by 20%, 0.7x would reduce the speed by 30%, etc.).

[2015-08-24 22:37] alexhk90 opened #17 "Add font colour option to preferences"
There is an option for font style and size, and background colour in the "Appearance" page of the preferences, but there does not appear to be a font colour option.

[2015-08-25 09:26] #13 closed

[2015-08-25 09:38] carsonip commented on #15
@alexhk90 Right. How could I have missed this?

[2015-08-25 09:39] #1 closed

[2015-08-25 09:39] #2 closed

[2015-08-25 09:39] #4 closed

[2015-08-25 09:39] #6 closed

[2015-08-25 09:50] carsonip commented on #16
@alexhk90 that shouldn't be hard to implement. The problem is we first need a menu (e.g. right click context menu) to show the options and functions.

[2015-08-25 09:51] carsonip commented on #17
planning to work on outlining the subtitles first, which sounds more important and useful to me. Font color customization should be easy to implement.

[2015-08-25 19:58] alexhk90 commented on #17
@carsonip Yes, I agree; the subtitles outline feature would be more useful.
Was that issue #5? It seems to have been closed for some reason.

[2015-08-27 03:57] carsonip commented on #5
fixed by 20bdfc0196ad9ef2b60baadb555791f5cf1ae2c1

[2015-08-27 03:57] #5 closed

[2015-08-27 05:09] carsonip opened #18 "Reset preference"
Users should be able to reset preference

[2015-08-27 06:13] alexhk90 opened #19 "Transparency not working in Linux with Xfce desktop environment"
The main window is not transparent under Linux with the Xfce desktop environment.

![screenshot_2015-08-27_07-07-30](https://cloud.githubusercontent.com/assets/13845698/9513735/0f554ca4-4c8b-11e5-94d0-12f73827a1b2.png)

Instead, the window has a black background and the opacity setting appears to set the transparency of the chosen Background Color in the preferences over this black background. For

[2015-08-30 13:50] #17 closed

[2015-08-30 14:39] #15 closed

[2015-08-30 14:53] carsonip commented on #19
@alexhk90 i have read this SO thread before and I think that the current flags are correct. If you are free, please do the experiments with the flags in Xfce (because I don't use Xfce atm).

[2015-08-30 15:22] alexhk90 commented on #19
@carsonip Sure - I'll have a look at it.

And thank you for implementing the font color (#17) and window size and position requests (#15).

[2015-08-30 18:05] alexhk90 commented on #19
@carsonip I think you might be right - I tried changing the flags and the most I got was to make it worse by having it show a copy of the image behind the window.

On further investigation it seems this might be an issue or limitation with xfce (or qt), as I can get it to work by turning on display compositing:

![screenshot_2015-08-30_19-04-02](https://cloud.githubusercontent.com/assets/13845698/

[2015-08-30 18:16] alexhk90 commented on #19
Reading up on compositing window managers it looks like this is a requirement for transparent windows:
https://en.wikipedia.org/wiki/Compositing_window_manager
https://en.wikipedia.org/wiki/Alpha_compositing

Therefore this isn't an issue - you just need to make sure you have a compositing window manager and that it is enabled.

[2015-08-30 18:16] #19 closed

[2015-09-07 03:00] pepa65 commented on #19
Just as a helpful pointer for Ubuntu: run dconf-editor, navigate to org.gnome.metacity, and enable compositing-manager.

[2015-09-08 05:50] ColdBooted opened #21 "Window class for the app"
Hey, :)

How do I find PenguinSubtitlePlayer window_class because I need it to remove shadows which compton draws around it? Tried with wmctrl -lx but it doesn't show in the list of opened widows.

[2015-09-09 12:19] carsonip commented on #21
Hi, I have no idea what do you mean by "window_class", but just for your info, in order to always stay on top, we have used the `Qt::X11BypassWindowManagerHint` flag. Hopefully this will give you a clue.

[2015-09-09 16:40] ColdBooted commented on #21
Thanks for your reply. :+1:

I didn't know, how to define in Compton window compozer's config file the class name of your app's window in order to prevent Compton from drawing shadow around it, because I like fully transparent subtitle.  The command:

xprop WM_CLASS | cut -d\" -f2

did the trick. Now I have PSP's window without shadows without having to disable it for all windows. Thanks again. :)

[2015-09-09 16:40] #21 closed

[2015-09-21 23:45] forteller opened #23 "Download subtitles"
There's a program that lets you choose a video file and then it automatically finds srt-files for it based on file name. Then you choose which file (with which language) you want and download it/them with one click. It's super easy and great, except that it's no longer maintained and it often just throws error messages at you.

If you could take over this functonality so you both download and disp

[2015-09-22 11:19] carsonip commented on #23
@forteller thanks for the suggestion. The Penguin Subtitle Player was originally designed for online videos so we assume that users do not have the video file. It is still not a bad idea to implement such a function tho.

[2015-09-22 13:01] forteller commented on #23
@carsonip Thanks for the positive reply! :)

You wouldn't necessarily need to use the file name, though. You could use the <title> or other metadata from the website or just ask people to write the title of the film themselves.

[2015-09-22 20:45] alexhk90 commented on #23
@forteller It's an interesting idea though it might be better as a browser plugin as that could then automatically read the metadata from the webpage? I guess the benefit of having Penguin Subtitle Player do it is that it could then immediately load the file instead of having to manually locate it.

[2015-09-22 22:20] forteller commented on #23
@alexhk90 Yes, that's exactly what I thought. Just tell Penguin what you want and it does everything else for you automatically. That would be so great!

Oh, btw: I wrote "You could use the title or other metadata" above, but since I wrote "title" as a html tag it was removed. :)

[2015-09-23 04:01] carsonip opened #24 "Text searching in subtitle"
Search for lines including the specific text supplied by the user

[2015-11-02 00:34] forteller opened #26 "Stop using SourceForge"
Lots of FLOSS developers have moved away from SF because they've started bundling Adware in with the downloads. Some adblockers has started to block browsers from even opening links to SF. You should host your downloads somewhere else too.

[2015-11-10 14:43] carsonip commented on #26
Sorry for the late reply. I thought the bundling was opt-in, wasn't it? So do you have any suggestion of alternative?

[2015-11-20 21:29] LastOfBrunnenG opened #27 "How to use player with IceWM ?"
Hi !

What do I need to use PSP in IceWM.  When I start it, the black window shows. As soon as I click File icon (or anything else) window disappears. The process is still running, but there is no interface.

I tried it in Xfce4 and it seems to work, i.e. File Open dialog shows up and black window is still there.

I also tried icewm-session (IceWM with session support and tray), but no dice. What

[2015-11-21 15:59] carsonip commented on #27
@LastOfBrunnenG Any screenshots illustrating your problem? That would be helpful.

[2015-11-21 23:19] LastOfBrunnenG commented on #27
It would be difficult to make a screenshot of an interface which disappeared from the screen. I have a normal interface until I click on folder icon (leftmost one) or configuration icon (second from the right). I tested with JWM (another window manager), works, too. Looks like it is an IceWM issue, rather than PSP. However, I was hoping you could give some advice.

I posted a problem to IceWM boar

[2015-11-22 17:52] #27 closed

[2015-11-23 01:26] carsonip commented on #27
@LastOfBrunnenG Have you solved the issue?

[2015-12-10 18:00] priteshjasani opened #28 "Player pauses while playing full screen videos on Mac"
Hi,
I have been using the Penguin Subtitle Player since last week on Mac OS X El Capitan and observed that while playing videos in full screen mode, it pauses after few seconds or it seems it becomes inactive within few seconds. Have to click on the player to unpause it and keep it in that mode which diplays menu buttons, browers window & mac OS X icons deck.

[2015-12-15 22:40] janfoeh opened #29 "Disappears in Chrome 48s new fullscreen mode / OSX 10.10.5"
Chrome Beta seems to have [recently moved](https://code.google.com/p/chromium/issues/detail?id=414527) to support AppKits native fullscreen mechanism, where the fullscreen window moves into its own space.

Since then, the Penguin overlay is not visible in fullscreen anymore. Is there any chance of getting Penguin to work with native OSX fullscreen modes?

[2015-12-16 02:41] carsonip commented on #29
Thanks for reporting. I don't use OSX so I have no idea how's the problem but I'll take a look into it soon. Please suggest some solutions if you know how to make Qt windows get on top of the OSX native fullscreen.

[2016-02-17 02:26] alexchandel opened #30 "Fails to be visible on OS X"
Whenever any app goes fullscreen, this subtitle player stays on the desktop. It needs to declare itself like a panel (see for example the Flux preferences pane), so it can hover over other fullscreen apps. COMPILE CORRECTLY.

[2016-02-17 02:55] carsonip commented on #30
@alexchandel I'll look into that soon. Good to know there's an example.

[2016-04-15 12:05] tstrul1 commented on #10
I guess you stopped developing this player? :\

[2016-04-18 16:52] carsonip commented on #10
@tstrul1 I'm really sorry for not implementing this new feature right away. The project is currently not under active development but there would still be bug fixes. Pull requests are welcomed! Of course I'll implement new features when I have the time. Tho the problem with this feature is that when the player is not focused, we will probably not receive any events and we may need a keylogger here

[2016-05-01 19:12] DareMaxtaS opened #31 "Hotkey to pause"
Hello!
Without a doubt the best player among your peers. I have two ideas how to improve player. The most important thing is to add in the option the opportunity to set the player to pause by pressing the "**Space**" key. For people who teach languages ​​thanks to your program, it will be a big help , a key to stop the two player. The second is to finish the opportunity to select a different defau

[2016-05-02 02:57] carsonip commented on #31
Hi @DareMaxtaS , it is great to know you like the player. Since you are not the only one mentioning the keyboard shortcut (also mentioned in #10 ), I'll definitely look into it. Hopefully I can get back to you by the end of this month.
Talking about the default encoding matter, the player defaults to choose the best encoding according to the auto detection. Did the auto detection fail to detect th

[2016-05-30 15:04] carsonip commented on #31
FYI: I have yet to find a simple solution for a cross-platform keylog. Will update you guys when I find one.

[2016-06-20 07:00] JonnyTischbein opened #32 "Icon Visibility"
![screenshot_2016-06-20_08-50-43](https://cloud.githubusercontent.com/assets/10757520/16185598/5054ae28-36c5-11e6-9533-7546a02bd24f.png)
When having no Backgroundcolor or an high opactiy the icons and the current time / ending time is not or only barely visible.
![screenshot_2016-06-20_08-52-04](https://cloud.githubusercontent.com/assets/10757520/16185607/5b0002e6-36c5-11e6-9709-3ab7da7d5aa5.png)

[2016-06-20 20:01] carsonip commented on #32
Merged. Thanks!

[2016-06-20 20:01] #32 closed

[2016-06-27 03:09] Skywola opened #34 "No longer shows up on the screen"
Works great, but I had a problem with my mouse button, it moved the application off the screen, now the application opens, but does not show up on the screen.  Were in the heck is it storing the screen coordinates?  I check the registry and the user folder, all I see is the .exe file.  I am using Windows 8.

[2016-06-27 18:10] carsonip commented on #34
That is unfortunate. How about clicking on the tray icon and open preferences, uncheck "remember last position and size"? Does that help?

[2016-06-27 19:16] Skywola commented on #34
Yes, that worked like a charm, thanks!

Shawn Irwin
4802 N 12TH ST  apt 1072,
PHOENIX, AZ 85014, USA
skywola@hotmail.com<mailto:skywola@hotmail.com>
www.tachufind.com<http://www.tachufind.com>

________________________________
From: Carson Ip <notifications@github.com>
Sent: Monday, June 27, 2016 11:10 AM
To: carsonip/Penguin-Subtitle-Player
Cc: Skywola; Author
Subject: Re: [carsonip/Penguin-Subti

[2016-10-07 21:23] EgyptBeast opened #35 "Vanillia package doesn't run on Ubuntu 16.04"
I have downloaded the latest PenguinSubtitlePlayer-Linux.tar.gz (version 0.3.0) but it doesn't run. Instead, it generates an empty text file in the same folder of the executable, named: "1�A@P (invalid encoding)"

Great project by the way! Now I don't have to install Wine specifically to play GreenFish :)

[2016-10-08 04:01] carsonip commented on #35
I'm sorry to hear that. Does it have the right permissions to run? May I have more detailed problem description?

[2016-10-08 04:19] carsonip commented on #35
I have found a workaround for now. Find your system arch under "Published Versions" in https://launchpad.net/ubuntu/wily/+package/libicu52 then download and install the .deb file under "Downloadable Files". The player should work now.

This problem is due to the missing package of libicu52 in Ubuntu 16.04, which apparently uses libicu55 now.

[2016-10-08 08:52] EgyptBeast commented on #35
Thank you for the quick response!

Yes you were correct, Ubuntu 16.04 uses libicu55. But, installing libicu52 didn't work. I have chosen the correct package for my architecture.

Did it work for you ?

[2016-10-08 10:26] carsonip commented on #35
It certainly works for me. This is weird. Can you start the program in the terminal and tell me what's the output?

[2016-10-08 11:37] EgyptBeast commented on #35
Unfortunately I did that beforehand and didn't find something useful.
Here is the output with root privileges:

./PenguinSubtitlePlayer: 4: ./PenguinSubtitlePlayer: cannot open B: No such file
./PenguinSubtitlePlayer: 5: ./PenguinSubtitlePlayer: Syntax error: ")" unexpected
youssef@Youssef:~$ ./PenguinSubtitlePlayer: 4: ./PenguinSubtitlePlayer: CQ: not found
./PenguinSubtitlePlayer: 4: ./Pengu

[2016-10-19 22:00] franklinyu commented on #26
Sorry but I am confused about "hosting" here. Since the code is already on GitHub, what else need to be "hosted"?

[2016-10-20 03:21] carsonip commented on #26
@franklinyu Since not everyone can build the program from the code, the statically built programs have to be hosted on somewhere like SourceForge. Maybe I can also put the binaries in GitHub Release section next time. GitHub release does not support statistics though.

[2016-10-20 03:51] franklinyu commented on #26
For statistics, how about this:

[code]

which gives

![latest release](https://img.shields.io/github/downloads/carsonip/Penguin-Subtitle-Player/latest/total.svg)

I believe it comes from [GitHub API](https://help.github.com/articles/getting-the-download-count-for-your-releases/).

[2016-10-22 13:53] carsonip commented on #26
@franklinyu Wow, this is cool. Thanks for telling me this. I'll definitely host the next version in GitHub.

[2016-10-22 16:12] anewuser commented on #35
This worked for me on KDE Neon (based on Ubuntu 16.04).

[2016-10-23 06:50] franklinyu commented on #26
Too bad GitHub does not offer an auto-build system so we still have to manually build. Travis does offer [the functionality](https://docs.travis-ci.com/user/deployment/releases) in an easy way, but it

1. requires GitHub OAuth key to be in the codebase (maybe [encrypted](https://docs.travis-ci.com/user/encryption-keys));
2. [only supports Ubuntu and OS X](https://docs.travis-ci.com/user/ci-environ

[2016-10-23 18:34] EgyptBeast commented on #35
I will retry on a fresh 16.04 install. I may report later.

[2016-10-24 21:17] franklinyu opened #36 "Support "SubStation Alpha" format"
The [SubStation Alpha](https://en.wikipedia.org/wiki/SubStation_Alpha) (`.ssa` and `.ass`) format allows font and color settings. Essential for multilingual subtitles.

[2016-10-29 11:03] carsonip commented on #36
I would love to have `.ssa` and `.ass` support. By the time this project started, there is no simple library / conversion method for me to implement and that is why only `.srt` is supported now.

If you would like to contribute, pull requests are welcomed! Thanks.

[2016-10-29 11:06] carsonip commented on #26
@franklinyu It is great to know Travis supports OS X. My best guess is that compiling a static build could be hard on CIs. It is still a good reminder that I should prepare a machine in the cloud to do the build. Thanks.

[2016-11-13 14:03] EgyptBeast commented on #35
Unfortunately, I couldn't get it to work on a fresh Ubuntu GNOME install. Same output results.

[2016-11-27 01:20] Gillwindy opened #37 "subtitle timeline issue"
i found that if a subtitle have a later timestamp been placed (in file) before correct timestamped subtitle ,your player will ignore all the correct subtitle and only display the first subtitle it readed.

Example:

your player will **ignore** AAA and BBB only display CCC at 00:00:04 .

_btw thanks for create this useful tool ,it helps a lot!_

[2016-11-27 02:58] carsonip commented on #37
@Gillwindy Thanks for letting me know. Do you mean that the player does not work well when the subtitle order is wrong?  I think there's an easy fix to this. We can simply sort the array. Feel free to create a pull request if you can fix that.

[2016-11-27 21:08] Gillwindy commented on #37
Yes. and sorry i dont have that skill to do so 😢

[2016-11-30 16:55] carsonip commented on #37
No problem. Will fix this when I'm free.

[2017-02-08 04:42] #34 closed

[2017-02-08 05:22] #18 closed

[2017-02-11 19:00] carsonip commented on #36
There is basic `.ssa` support now. The simple styles tags will be applied but the styles that are defined in the Styles section are ignored.

[2017-02-11 19:00] #36 closed

[2017-02-12 14:01] #12 closed

[2017-02-12 16:06] carsonip commented on #37
I'm not sure if this is a desired behavior of a subtitle player. I'll not implement this and leave this issue here until someone upvotes this issue.

[2017-02-12 16:26] alexhk90 commented on #12
Thank you for implementing this! 👍

[2017-02-12 16:27] alexhk90 commented on #37
I agree that this is an upstream data issue and you would not expect the player to try to fix invalid input data of this kind.

[2017-02-13 21:18] #37 closed

[2017-02-13 21:20] carsonip commented on #26
From now on the releases will also be available at https://github.com/carsonip/Penguin-Subtitle-Player/releases other than SF.

[2017-02-13 21:20] #26 closed

[2017-02-13 21:29] carsonip commented on #35
Have you tried downloading it using a package manager? There's a tutorial [here](http://www.webupd8.org/2015/08/play-srt-subtitles-on-top-of-any-video.html). i.e.
[code]
I'm not sure whether the package is up-to-date tho.

[2017-02-14 00:54] carsonip commented on #35
@EgyptBeast please try the new release too. Thanks.

[2017-02-17 18:52] EgyptBeast commented on #35
Unfortunately, for some non-obvious reasons, version _1.0.0_ doesn't work on GNOME 16.04. However, it works from the given PPA. I still think it —somehow— has to do with GNOME.
I am moving away from GNOME to Lubuntu soon, I'll post results again.

[2017-02-17 19:48] carsonip commented on #35
@EgyptBeast I'm sorry to hear that. Building a static version that works for all Linux distributions is really tough. I'll add the instructions to install them through package manager.

[2017-04-08 03:55] intre4si32 opened #39 "two nagging windows by each loading of sub"
I am using it on Wndows and there are two windows in a row that open each time I load s subtitle file. One is for onedrive and one asks me each time which format encoding for the sub to choose. I find them very annoying.

[2017-04-08 10:16] carsonip commented on #39
Hi, I don't think I can help you with the onedrive window, but for the encoding one, it is mentioned in #9.

[2017-04-13 15:02] carsonip opened #40 "Cannot fast forward / backward / skip to next / previous when paused"

[2017-04-20 14:58] #40 closed

[2017-04-20 19:01] #9 closed

[2017-04-20 19:01] #39 closed

[2017-04-23 04:16] bomkarram opened #42 "in sierra macos : subtitle font is pixelated"
Hi
My system is sierra macos and I'm working on 4k screen.
problem: subtitle font is pixelated.

Issue preview:
http://imgur.com/a/gb245

I'm big fan of your program on windows :)
Thank you

[2017-04-23 10:45] carsonip commented on #42
Thanks for reporting the issue. Do the icons look pixelated too? I'm thinking whether it's a DPI scaling problem or QLabel anti-aliasing problem.

[2017-04-23 10:54] carsonip commented on #42
Also, do you know how to compile and run the project? It would really help resolve the issue.

It involves downloading Qt (and Qt creator) [here](https://www.qt.io/download-open-source/), opening the project inside Qt creator and clicking the Run button at the left bottom corner.

[2017-05-11 11:50] bomkarram commented on #42
Sorry for replaying late

**Do the icons look pixelated too?**
Yes, they are

Two images (icons + preference) :
http://imgur.com/a/8IKo9

**do you know how to compile and run the project?**
I can walk through it 👍

[2017-05-22 21:22] carsonip commented on #42
I can reproduce the problem now. Working on a fix.

[2017-05-22 21:49] carsonip commented on #42
The subtitle font is pixelated only when shadow is applied. A temporary fix is to disable the shadow.

It is a bug in Qt's QGraphicsEffect. This [issue](https://bugreports.qt.io/browse/QTBUG-60026) should be related. I will try to compile the project for macOS using Qt 5.9 though it is still in beta stage.

[2017-05-24 00:04] carsonip commented on #42
I have recompiled it using Qt 5.9 and there is no more pixelation. I'll use Qt 5.9 to compile the next release for Mac, which will happen in a few days.

[2017-05-24 00:04] #42 closed

[2017-05-25 20:53] carsonip commented on #42
@bomkarram the new release is ready. Please try v1.0.1 and let me know whether it is fixed. Thanks!

[2017-05-25 20:58] carsonip opened #43 "HiDPI icons"
Icons look pixelated in HiDPI mode. Need to use [@2x icons](http://doc.qt.io/qt-5/scalability.html).

[2017-05-25 21:00] carsonip opened #44 "Separate about dialog"
Current about page is under config dialog. The ideal way should be having an about dialog.

[2017-06-21 07:02] jiemmy opened #45 "Symbols instead of Arabic characters"
Hi
when I try to load an Arabic .SRT files, the program start acting weird, show symbols instead of Arabic text and become laggy.
while the .ASS files works fine and run without a problem.
I tried to change the encoding to Arabic, System and many other options, but no luck.

[2017-07-08 23:31] fabian5805 commented on #45
try system

[2017-07-09 08:25] carsonip commented on #45
@jiemmy Sorry for the late reply. I have been away from computer for a while. I'll look into it 2 weeks later and get back to you. Please share the SRT and ASS files so I can figure out what's going on. Thanks!

[2017-07-12 09:36] oldk1331 commented on #23
There is an open source software subliminal which can download subtitles automatically, it can download subtitles without media files, given filename is enough.

https://github.com/Diaoul/subliminal

[2017-07-13 08:12] fabian5805 commented on #45
if your system has arabic language keyboard, I think it will work when you load the subtitle SRT arabic file to Penguin and choose system or utf 8.

try tis SRT file and load it
https://www.dropbox.com/s/bxxsba1ifh8khys/Brooklyn.Nine-Nine.S02E17.1080p.WEB-DL.DD5.1.H.264-NTb.srt?dl=0

[2017-07-13 08:32] fabian5805 opened #46 "Msvcp120.dll & Msvcr120.dll ((solved))"
if Visual C++ Redistributable 2012 didn't work like what happened with me try downloading
Visual C++ Redistributable Packages for Visual Studio 2013, by this link
https://www.microsoft.com/en-us/download/details.aspx?id=40784

maybe it needs also java, .Net framework4 or 3.5 and flash player !!

[2017-07-17 21:23] alexhk90 commented on #16
I see there is a new pull request #48 by @fdeloche which might implement this?

[2017-07-17 21:47] fdeloche commented on #16
Yes, it is the purpose of it. It appears in the general preferences as it was the simplest way to add it. The preferred constants (step, precision...) have maybe to be checked with examples. If I dit it right, it is possible to reach a precision of 0.125%. To have better precision, one has to increase intervalModCounterBase (16, 32...) and set the right precision for the QDoubleSpinBox (it is set

[2017-08-23 03:58] carsonip commented on #16
This is implemented in #49.

[2017-08-23 03:58] #16 closed

[2017-08-23 04:34] #46 closed

[2017-09-20 19:32] intre4si32 opened #50 "challenging .srt file?"
Weird but I 've met my first .srt which Penguin does not open.
If interested to check I linked it:
[https://ytssubtitles.com/aloys/tt5065810/514775](url)
It opens only when I uncheck **Use detected encoding**. It's only this particular srt to give the penguin fits.

[2017-09-21 14:20] carsonip commented on #50
Thanks for reporting! I tried the file and it did not work. Your workaround gives useful info about the bug. I'll let you know when I found out the cause / fixed the bug.

[2017-09-27 13:36] carsonip commented on #50
@intre4si32 May I know what system (and version) and what version (version number, statically compiled/from package manager, github/sourceforge etc) of penguin you are using?
As far as I know, the charset detector reports ascii as the charset of the srt file but ascii charset may not be in the system. That's why choosing UTF-8 manually works. A naive fix would be easy but I want to know whether th

[2017-10-05 09:45] #50 closed

[2017-10-15 13:02] #45 closed

[2017-11-26 08:41] jack338c opened #51 "can not run on win10"
Dear
I love this app so much,but I can 't run it on win10
Do you have any idea
thanks

[2017-11-26 08:43] carsonip commented on #51
Are there any error messages? What's the model of your computer?

[2017-11-26 08:54] jack338c commented on #51
say "the app can't run on your pc"
pc :Lenovo T400

[2017-11-26 08:59] carsonip commented on #51
Can you take a screenshot of your system info? Is it a 32bit version of Windows 10?

[2017-11-26 09:01] jack338c commented on #51
OS Name	Microsoft Windows 10 Enterprise
Version	10.0.14393 Build 14393
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	T400
System Manufacturer	LENOVO
System Model	7439A17
System Type	X86-based PC
System SKU
Processor	Intel(R) Core(TM)2 Duo CPU     T9400  @ 2.53GHz, 2534 Mhz, 2 Core(s), 2 Logical Processor(s)
BIOS Version/Date	LENOVO 7UET94WW (3.24 ), 10/17/20

[2017-11-26 09:48] carsonip commented on #51
Thanks for the detailed reply. Yes it it 32bit and I think I compiled the program for 64bit systems. I'll compile it for 32bit systems later so that you can use it. Thanks.

[2017-11-26 09:50] jack338c commented on #51
@carsonip
Awesome ，thank you very much ！

[2017-11-26 15:35] lc700x opened #52 "Subtitle Disappeared when in Full screen mode"
I'm using the penguin-subtitle-player on my windows 10 laptop, when I change my player into full screen mode, the subtitle just disappears. Would  you please make it pinned even in full screen mode? Thanks.

[2017-11-26 15:59] carsonip commented on #52
Thanks for creating an issue.
May I ask what player is it? If it is some system-specific full screen mode, I'm afraid it may be very hard if not impossible to fix it, since the subtitle player is just a normal window which requests to be on top of other normal windows.

[2017-11-26 16:06] lc700x commented on #52
Oh, I usually watch videos with the movies&TV player pre-installed in windows 10, and sometimes use youtube in Egde browser. When I turn into full screen mode, the window may be covered behind.

[2017-11-26 16:14] lc700x commented on #52
Haha, maybe it's better for me to use desktop players or browsers to prevent this. Thanks for your kind enquiry.

[2017-11-26 16:14] carsonip commented on #52
Then yes, in your situation, the subtitle player should not work. I just tried with Edge. Try other browsers like Firefox or Chrome.
For offline videos, if you place the srt file next to your video file and play the video using a proper video player (e.g. VLC, MPC-HC), the video player will display the subtitle anyway.

[2017-11-26 16:14] #52 closed

[2017-11-26 16:17] lc700x commented on #52
OK, thanks for your suggestions!

[2017-11-28 15:26] carsonip commented on #51
Hopefully I'll have time to do it during the weekend.

[2017-12-07 14:42] carsonip commented on #51
Since libraries are statically linked, I may have to compile everything all over again. That takes time. Let's see if I can get you a 32bit version of it during the weekend.

[2017-12-07 14:57] jack338c commented on #51
It's ok
I'd like waiting for you when you have time to make it

Thank you

On Dec 7, 2017 22:42, "Carson Ip" <notifications@github.com> wrote:

[2017-12-09 03:14] carsonip commented on #51
Hi @jack338c, please check whether https://github.com/carsonip/Penguin-Subtitle-Player/releases/download/v1.1.0/PenguinSubtitlePlayer-Windows_x86.zip works for you.

[2017-12-09 03:16] jack338c commented on #51
Ok I Will
Talk to you soon

On Dec 9, 2017 11:14, "Carson Ip" <notifications@github.com> wrote:

[2017-12-10 12:44] jack338c commented on #51
Hi *Pengu*
*it's working now *
*thank you very much !*
*Cheers*

On Sat, Dec 9, 2017 at 11:16 AM, Jack shi <jack338c@gmail.com> wrote:

[2017-12-10 12:46] carsonip commented on #51
Great to know!

[2017-12-10 12:46] #51 closed

[2018-03-14 00:15] simocharfaoui opened #53 "Arabic subtitles doesn't work"
i tried to load a .srt arabic subtitle but it only shows me symbols
the problem is when i change writing system, it doesn't save the changes despite i'm clicking the ok
please is there any solution ?

[2018-03-14 02:32] carsonip commented on #53
Hi, care to upload the .srt so that I can reroduce the issue? It would be useful for me to find the cause. Thanks.

[2018-03-14 12:50] simocharfaoui commented on #53
thanks for your reply i've found the problem
the problem was the encoding of the .srt file and it was ANSI, i converted it to UTF-8 online and it worked !
sorry to bother you and i really like your program
cheer !

[2018-03-14 17:50] carsonip commented on #53
Good to know. Thanks!

[2018-03-14 17:50] #53 closed

[2018-06-13 09:29] Clonewayx opened #54 "Flip subtitles"
Allow vertically flip subtitles to be able to project from rear.

Thanks

[2018-06-15 03:12] carsonip commented on #54
I haven't thought of this. Just out of curiosity: do you also flip the movie display upside down? Is it easier to do it in your operating system instead of having the software to support it? This feature isn't impossible to do but it just feels weird to do it at the application level. I can't imagine Chrome / Firefox has an option to flip the whole window content vertically.

[2018-06-15 05:54] Clonewayx commented on #54
I want to make projection where peoples can watch from both sides of screen.

My fault I meant horizontal flip like these: ![](http://media.openclipart.org/people/Clon/800px-1529041935.png)

[2018-06-20 17:03] carsonip commented on #54
I will be away from keyboard for a while, I'll take a look into this in July.

[2018-07-03 02:21] alexchandel commented on #30
Another example is a fullscreen'd video from a web browser (e.g. Youtube on Chrome). The window occupies the entire screen on its own desktop, but the Penguin window cannot be dragged over it because macOS is treating it as a normal window rather than a panel window.

[2018-07-29 16:17] carsonip commented on #54
It seems harder than I thought. Guess I will not implement this. If anyone could, feel free to submit a PR.
The closest I can find is this: http://www.qtcentre.org/archive/index.php/t-8248.html

[2018-12-15 10:27] huanxueshen opened #56 "I want to get a button to enter the specified time Then jump to the time I entered"
I want to get a button to enter the specified time
Then jump to the time I entered #

[2018-12-20 06:32] carsonip commented on #56
Hi @huanxueshen, this is a great suggestion. I'm quite busy recently but I will certainly implement this when I have time. Thanks!

[2018-12-23 05:39] huanxueshen commented on #56
Thank you for understanding
Because I know that it is very difficult to implement this function.
Please be sure to help me achieve this without delaying my body.
Otherwise I will be very upset
Thank you

[2018-12-23 05:52] huanxueshen commented on #56
You may not understand Google Translate
I will send you a Chinese and Japanese.
谢谢您的理解
因为我知道实现这个功能非常困难。
请务必在不拖延身体的情况下帮助我实现这一目标。
否则我会非常沮丧
谢谢
ご理解いただきありがとうございます。
この機能を実装するのは非常に難しいことを私は知っているからです。
私は私の体を遅らせることなくこれを達成するのを手伝ってください。
そうでなければ私は非常に落ち込んでいるでしょう
ありがとう

[2018-12-23 05:52] huanxueshen commented on #56
这样就好了

[2019-01-02 14:45] huanxueshen commented on #56
Are you okay, body?

[2019-01-02 14:45] huanxueshen commented on #56
hey

[2019-01-05 14:10] carsonip commented on #56
I have added the feature. Please be reminded that this is an open source project and I do not develop and maintain it for profit. I do this in my spare time. I will build and release a new version soon.

[2019-01-06 03:43] #56 closed

[2019-01-07 15:15] huanxueshen commented on #56
https://github.com/carsonip/Penguin-Subtitle-Player/issues/56#issuecomment-451658857

[2019-01-07 17:19] carsonip commented on #31
This project is Qt, C++. But this software is designed for all Windows, Linux and Mac. I will only implement a global keyhook if the solution is simple and cross-platform.

[2019-01-08 06:44] huanxueshen commented on #31
Cross-platform seems to have permissions in addition to windows to achieve it.
Why don't you try to get a separate Windows compatible version first?
Then consider other platforms compatible

[2019-01-13 04:14] carsonip opened #57 "Widgets not showing on mouse enter"
From SourceForce comments:

Confirmed.

[2019-01-13 04:44] #57 closed

[2019-01-13 06:36] carsonip commented on #56
@huanxueshen New build is out. Feel free to try out the feature you requested.

[2019-01-13 07:50] huanxueshen commented on #56
Thank you

[2019-01-13 07:57] huanxueshen opened #58 "Where is the software settings saved? I changed a new computer. I want to set up the software and transfer it to the new computer."
Where is the software settings saved?
I changed a new computer. I want to set up the software and transfer it to the new computer.

[2019-01-18 08:17] carsonip commented on #58
According to [http://doc.qt.io/qt-5/qsettings.html](http://doc.qt.io/qt-5/qsettings.html),

[2019-01-18 08:17] #58 closed

[2019-02-16 14:35] erennnyazici opened #59 "subtitle edge feature"
Can you add subtitle edge styles (like YouTube) to see text easily with %100 transparent background? It would be great if we could select edge colours too!

[2019-02-16 15:46] carsonip commented on #59
I understand that font shadows may not be enough. I just checked YouTube, there is a default 75% opacity black background behind the subtitle. I believe what you are asking for here is a background color for the subtitle. I'll check if this is possible.
![image](https://user-images.githubusercontent.com/9133397/52901935-e86af780-3244-11e9-9421-513f6b4ad6fc.png)

[2019-02-16 17:52] erennnyazici commented on #59
Sorry about my poor expression. I was talking about outline like this:[
![ekran alisdasdntisi](https://user-images.githubusercontent.com/47693077/52903326-ac2b9d00-322c-11e9-866e-be653bafe2a2.PNG)
](url)

[2019-02-17 08:54] carsonip commented on #59
Text outline should be possible. I'll have to check how much work does it take.

[2019-02-20 23:48] fabian5805 commented on #29
in my windows 7 64bit in not appearing.........

[2019-02-21 00:17] fabian5805 opened #60 "ps player is not appearing"
penguin subtitle player is not visible at all in my windows 7 64bit . I downloaded every nessassry thing visual 2013 c++

[2019-02-21 03:41] carsonip commented on #60
Hi @fabian5805, does that happen even with the older version of Penguin Subtitle Player? Also I don't think Visual C++ is not required because the software is compiled statically.

[2019-02-25 19:09] fabian5805 commented on #60
I have tried all the versions <<<< I love this subtitle player>>>>
I have formatted my windows and alomost everything is different < I doubt my windows :(
maybe my windows version is the crap one here,
all respect to you Carsonip,, you the best

[2019-02-26 06:57] carsonip commented on #60
Is your problem resolved now?

[2019-05-16 12:22] DutchEarthling opened #61 "Penguin not visible in mac High Sierra"
Anybody suggestions why all of a sudden penguin has become invisible. I changed the opacity in preferences but it did not help. It worked a month or 2 ago. Can't remember I installed other programs that could cause conflicts, I only did some updates.
Thanks in advance.

[2019-05-27 14:39] huanxueshen opened #62 "Can it be used as a browser to directly get the video of the webpage to load subtitles below？"
Can it be used as a browser to directly get the video of the webpage to load subtitles below？

[2019-06-02 15:08] carsonip commented on #62
Thanks for your suggestion. It is a creative idea for Penguin Subtitle Player to be a browser, but it would require too much engineering effort both to develop and maintain. Therefore, the requested feature will not be implemented in this project. Anyone who feels interested may integrate PSP and browser in their own project.

[2019-06-02 15:08] #62 closed

[2019-06-08 04:06] huanxueshen opened #63 "Web player sync button"
When I press forward or back pause, the webpage video is implemented.
But the subtitles are not implemented.

[2019-06-08 04:09] #63 closed

[2019-06-08 04:10] huanxueshen commented on #31
@carsonip When I press forward or back pause, the webpage video is implemented.
But the subtitles are not implemented.
Will this problem improve in the future?

[2019-06-08 11:13] carsonip commented on #31
Thanks for not creating duplicate issues. As I have mentioned before, I don't know an easy cross-platform global keyhook solution, therefore there are no plans on getting this implemented currently. If anyone has a good way of achieving that, please let me know.

[2019-06-08 11:22] carsonip commented on #61
Hi @DutchEarthling, sorry for the late reply. I am suspecting that the window is spawned in somewhere not shown in your display. Did you change your display configuration in a while? (e.g. attach / detach from an external monitor / projector, or changing display resolution) I don't have macOS High Sierra with me and even if I have, I cannot reproduce this easily. My best guess is that if we reset

[2019-06-16 22:54] zantonov commented on #61
Same for Windows

[2019-06-19 00:37] garyhouston commented on #19
With Xfce in Ubuntu 19.04, I needed:

From the Xfce Applications menu, Settings > Settings Editor
Select xfwm4 in the left panel, then scroll down the right panel to find use_compositing, and select the right-most checkbox to enable it.

[2019-07-16 23:39] KitKat909 opened #64 "When I go to load the subtitles the video I'm watching doesn't show up in the files"
So I watched a video on YouTube on how to set it up and it's not letting me load it to the video I'm watching. I will press on the file icon in the top left corner and it takes me to my files and I look all through it and I cant find the video to load the subtitles to. Please Help!

[2019-07-21 14:05] carsonip commented on #64
Hello @KitKat909 you have to download the subtitle file by yourself. You may need to search for it on google, download it and then load it in the software.

[2019-07-21 14:05] #64 closed

[2019-09-16 23:23] aaaaaaudrey commented on #30
As per #29 , it seems that fullscreen apps in macos block out the subtitle box.

The way to fix this seems simple as per https://stackoverflow.com/questions/40494297/how-to-show-qt-window-on-top-of-fullscreen-opened-window-on-osx,

The fix is changing "Qt.WindowStaysOnTopHint" to "Qt.Tool" in https://github.com/carsonip/Penguin-Subtitle-Player/blob/8829af6042561a91f7ac3f535578dd1bc19341f4/src/main

[2019-10-17 19:53] SamHamou commented on #54
[https://moopost.blogspot.com/2019/04/penguin-subtitle-player-10-released.html](https://moopost.blogspot.com/2019/04/penguin-subtitle-player-10-released.html)

[2020-01-06 21:59] s-vv opened #65 "Button to jump forward to first or next subtitle"
Hi thanks for this amazing subtitle player!
I had the idea for a really helpful feature that couldn't be that difficult: a button to skip forward to the first subtitle (in the beginning, or jump to the next subtitle if you press the button again). This button would be really helpful to sync the subtitle at the beginning of the movie.
A button to jump back to the previous one could be nice too.
Tha

[2020-01-06 22:08] s-vv commented on #65
Just found it 👍 👍 👍

[2020-01-06 22:08] #65 closed

[2020-02-17 21:06] ariellachter opened #66 "how to see subtitles in spanish"
I don't see well subtitles in spanish, I edit penguinsubtitleplayer.pro , but I don't understan how do that

[2020-02-26 01:55] Robbyb3 opened #67 "When I open an SRT nothing happens. Only preference pane is visible"
Hi Folks,

When I open an .SRT file, nothing happens.  Actually the app doesn't seem to have an "open" function, so i drag and drop or set Penguin as default.  Either way, nothing happens.  Am I missing something?  How do i get it to display subtitles?

The app seems to be installed correctly and shows in the menu bar.  I'm running El Capitan.

First time poster so please correct me if I need to d

[2020-02-27 15:23] carsonip commented on #67
Hi @Robbyb3 , welcome to GitHub. Yes this is the right way to report a problem you face.

The app does have an open function, please find the "file" button on the top left corner. Drag and drop should also work. When the srt file is loaded, the text "Penguin Subtitle Player open-source, cross-platform" should disappear and the player should start displaying the subtitles in your srt file. Do you s

[2020-04-05 06:28] tynylove opened #68 "somtime the next and previousbuttons error"
When I goto by entering the time then the next and previous button ussually have error, it take back to begin (the first line of the subtitle file).
Thank you about your helpfull software
And It'll extremily great if it can have mode to reacognize the time area on screen to syns the subtitle or reacognize play/pause button or slide bar of online video player on screen.

[2020-04-14 10:23] Mallobag opened #69 "Font Problems, special characters"
Hi,
it seems like no matter which font i use, special characters from the slavic languages will not be shown.

Like

A	Á	B	C	Č	D	Ď	E	É	Ě	F	G	H	Ch	I	Í	J	K	L	M	N	Ň	O	Ó	P	Q	R	Ř	S	Š	T	Ť	U	Ú	Ů	V	W	X	Y	Ý	Z	Ž
a	á	b	c	č	d	ď	e	é	ě	f	g	h	ch	i	í	j	k	l	m	n	ň	o	ó	p	q	r	ř	s	š	t	ť	u	ú	ů	v	w	x	y	ý	z	ž

Is that a program problem or a system problem.

[2020-04-14 12:59] carsonip commented on #69
That's weird. This is a big problem. Are you sure that the font you selected support slavic characters? Also, are you using Windows, MacOS or Linux? Please check which font in your system support slavic characters and then pick that font in the program.

[2020-04-14 13:02] carsonip commented on #68
Thanks for reporting an issue.

Does this happen with a particular subtitle file? I do recognize that the next button is a bit too close to the timeline, making it very easy to click on the beginning on the timeline. Is that what you are experiencing?

This is a feature request that is out of the scope of the project. There is no plans on implementing this feature.

[2020-04-14 14:51] tynylove commented on #68
I have checked with two files,
You could watch the video
https://photos.app.goo.gl/f2iTUhZXKPteHU576
Thank for your reply!

On Tue, Apr 14, 2020, 20:03 Carson Ip <notifications@github.com> wrote:

[2020-04-14 16:53] gijsbers opened #70 "feature requests"
Thanks for such a very useful program!

- Could it accept the .srt file from the command line?
Like `PenguinSubtitlePlayer title.srt`.
- Sometimes .srt files have `<i>` and `</i>` tags.
Could these be used for italic font?
- At end of movie the last sentence is displayed forever.
Could this be cleared after 10 seconds or so?
- It uses override redirect. When user goes to a different
workspace then

[2020-04-15 05:14] carsonip commented on #70
Thanks for the feature requests. Lots of them sound good.

Good idea. And I suppose it is not hard to implement.

As far as I remember, yes. You may give it a try. Please let me know if they don't work.

The last line is displayed forever is because the timeline stopped moving. It is technically possible but we have to think about how to implement it.

What OS are you using? In the experiments yea

[2020-04-15 05:19] carsonip commented on #68
Thanks for the video. It is the best way to illustrate the problem. It is clear that there's a problem.

What's the version of Penguin Subtitle Player you are using? I'll try to reproduce this in my computer and get back to you.

[2020-04-15 22:27] gijsbers commented on #70
Yes, `<i>` and `</i>` tags don't work. They show literally. No italic.

I use Linux + X11 + icewm. Applications with override redirect cause problems with window manager functionality. Applications are expected to conform to [EWMH specifications](https://developer.gnome.org/wm-spec/). You could maybe move application to  `_NET_WM_STATE_ABOVE` layer, which is above normal applications.
`_NET_CURREN

[2020-04-19 11:27] carsonip commented on #68
@tynylove Yes I can reproduce the issue on my end. I'll let you know when I fix the bug.

[2020-04-20 07:42] carsonip commented on #70
`<i></i>` works well on my end. e.g.
[code]
![image](https://user-images.githubusercontent.com/9133397/79726376-439eeb00-831d-11ea-8a2c-ed2dccada42e.png)

What version of Penguin Subtitle Player are you using? The latest is v1.2.1.

[2020-04-20 13:12] carsonip commented on #66
Hi @ariellachter, that is not how you see subtitles in Spanish. Penguin Subtitle Player supports subtitles in different languages / encodings out of the box. In case you have difficulty opening a Spanish subtitle file, please let me know the specific problem you are facing (e.g. the subtitle files is not loading / some characters are not showing) so I can help you with that.

[2020-04-20 13:12] #66 closed

[2020-04-20 13:16] carsonip commented on #68
Hi @tynylove, fix for the the issue is ready. I'll let you know when there is a new release.

[2020-04-20 13:16] #68 closed

[2020-04-20 15:01] tynylove commented on #68
Great! thank you and I'll wait a new release.

[2020-04-21 21:29] gijsbers commented on #70
`PenguinSubtitlePlayer --version` gives no output!?
Oh there is some About hidden in the Settings: 1.2.1.
Still no italics... Did you try on Linux?

[2020-04-22 12:00] carsonip commented on #70
Thanks for the suggestion. I have added a proper command line parser for this purpose.

Yes I use Linux to capture the screenshot above.

Actually the HTML handling is done by Qt internally. I didn't do anything about it. The supported HTML tags are listed here: https://doc-snapshots.qt.io/qt5-5.9/richtext-html-subset.html

[2020-04-22 12:03] carsonip commented on #70
Done. With a proper command line parser.

Done. The progress will reset to 0:00 after the last line. This is the most common way among video / audio players.

The changes are available in the `develop` branch. Will publish a new release soon.

[2020-04-23 12:36] carsonip commented on #68
Hi @tynylove, v1.3.0 is released! Please let me know if it solved your problem.

[2020-04-23 12:38] carsonip commented on #70
v1.3.0 is released. Thanks for your feature requests!

[2020-04-24 09:30] logix2 opened #71 "Please build Linux binary with libpng16-16 and not libpng12-0"
The Penguin Subtitle Player Linux binary is built with libpng12-0, which isn't available in Linux distributions for a long time. For example Ubuntu 18.04 (released two years ago) doesn't have it.

When trying to run it I get (and everybody else using a not very old Linux distribution):
[code]

Linux distributions nowadays use libpng1.6 (libpng16-16), so please build the Linux binary using this.

T

[2020-04-24 10:07] carsonip commented on #71
Thanks for reporting an issue. I thought I built a static binary, and I suppose something like this won't happen. What distribution are you using? I am using Linux Mint 19 (Ubuntu 18.04 base) and I didn't get any errors. I think I compiled the program in either Ubuntu 16.04 or 18.04.

[2020-04-24 10:11] carsonip commented on #71
This may be a real problem to many Linux users. I'm digging into it. Here's output of ldd:
[code]

[2020-04-24 10:11] logix2 commented on #71
This happens in both Ubuntu 18.04 and 20.04. I think you compiled it on 16.04, because it still has libpng12-0. I don't know about Linux Mint (which even though is based on Ubuntu has its own repository too), but Ubuntu 18.04 definitely doesn't have libpng12-0.

See here the supported Ubuntu versions that still have libpng12-0: https://packages.ubuntu.com/search?keywords=libpng12-0

[2020-04-24 10:15] carsonip commented on #71
Right. I'll try to fix my static Qt build to eliminate this issue. I see it is possible to configure Qt to use its bundled libpng instead of system's libpng. I bet it would eliminate the need of dynamically linked libpng. I'll get back to you when I get something.

[2020-04-24 10:19] carsonip commented on #71
I'm sorry that the "static" build of the player is kind of fragile. Building a static binary that works on Linux is not a trivial problem, especially when I didn't check `ldd` output before. A good lesson to myself.

[2020-04-25 06:06] carsonip commented on #71
The problem I get into today is that I can get rid of libpng16, but the dynamic link to libfreetype will create link to libpng12. However, using Qt's bundled freetype breaks the application. I'll try to find a solution.

[2020-04-25 15:07] alexhk90 commented on #71
While it doesn't solve the issue with the Linux binary (which would be good to fix), does Ubuntu have a way of building from source?
I just tried the Arch Linux AUR package (which builds from the git source) and it seems to work well with the latest version (1.3.0).

PS: @carsonip As I didn't see a way of commenting on the v1.3.0 release, just wanted to say thanks for continuing development on thi

[2020-04-25 15:21] carsonip commented on #71
Hey @alexhk90, thanks for being a long time supporter of Penguin Subtitle Player!

I think there should be a way to build from source on apt install, which should be easy with libqt. Currently Ubuntu users are directed to WebUpd8 to download a deb, but they don't update that often.

Anyway, a possible fix to this issue may be using a Ubuntu 18.04 VM to do the compilation. I'll do it when I get som

[2020-04-28 19:21] gijsbers commented on #70
Wish for options:

- -p, --paused : start paused
- -a, --at TIME : start at position TIME

Accept multiple *.srt files on the command line and have a key or button to go to next or previous file, while preserving the current time offset. That way I can compare or evaluate different files easily.

[2020-04-30 17:07] mbattaglia opened #72 "File I/O error in Windows where opening subtitles in different drive"
Hi, I was trying to play some subtitles and but kept getting a "File I/O" error. After some troubleshooting I realized that I can consistenly reproduce this error if the subtitles are on a different drive (Penguin player in D:/ and files in C:/).

Tried to look for some logs but was not able to find them.

[2020-04-30 17:20] carsonip commented on #72
Hi @mbattaglia, the file IO error popup is only added in v1.3.0. Can you play the subtitle with v1.2.1? I'll look into this issue tomorrow.

[2020-04-30 18:34] mbattaglia commented on #72
Hi, I just tested in v1.2.1 and this issue is not present.

[2020-05-01 06:46] carsonip commented on #72
By "the issue is not present" do you mean you can play the subtitle file successfully? I cannot reproduce this issue in Windows.

[2020-05-01 06:52] mbattaglia commented on #72
What I tried to say is that I can play the subtitles in v1.2.1 even if the .stl file is on another drive than the .exe.

[2020-05-01 06:54] carsonip commented on #72
Is that a stl file or srt file?

[2020-05-01 07:28] mbattaglia commented on #72
I shouldnt log into GitHub before my coffee... I mean a .srt file.

[2020-05-01 07:35] mbattaglia commented on #72
Just added you to a private repo containing a .gif with the walkthrough of the error.

[2020-05-01 09:34] carsonip commented on #72
Thanks for taking the time to create a gif to illustrate the problem. I'll look into it and get back to you once I get something.

[2020-05-01 18:03] carsonip commented on #71
Here's the ldd output when I build it with Ubuntu 18.04:
[code]

I'll see if I can get any better results, otherwise this should be it.

[2020-05-25 13:14] kristbaum opened #73 "Created a snap"
I build a snap of Penguin-Subtitle-Player and published it on the snap store using [this](https://gist.github.com/kristbaum/0ac73aa78c9a47dc8aec9d98052fb5c1) snapcraft.yaml file. The entry can be found [here](https://snapcraft.io/penguin-subtitle-player).
I thought this would be an easier way to install, than e.g the WebUpd8 ppa. Hope this is okay for you. If you don't want it there I will, of cou

[2020-05-25 13:24] carsonip commented on #73
Hi @kristbaum, thanks for the support! Yes, I suppose this may be easier than the WebUpd8 ppa for some people. But I'm not familiar with snap and here's some questions.

1. What's the steps to update the snap entry when there's a new release? How would the automated build system look like? It would be great to have an automated build system to update the entry on snapcraft.
2. Why is there a kde-n

[2020-05-25 13:25] carsonip commented on #73
When the build system is ready, remember to update the project's readme to include the snap under Download section.

[2020-05-25 23:36] kristbaum commented on #73
The build system hooks into GitHub and supposedly rebuilds the snap when commits are made to the linked repo. The snap is then built on launchpad.net and released in the store. All that needs to be done afterwards is to promote the newly build snap to stable, which maybe can be done automatically too.

This is to allow the snap access to QT libraries. The name is indeed a bit odd, but it's the onl

[2020-05-30 06:39] JackieMium commented on #71
I think this is it. I got the same error msg running the 1.3.0 binary version, I then built it it on my Debian sid box with Qt 5.12.5 and libpng against libpng16-16 and it worked too.  Qt creator build also works and linked against libpng16.

[2020-05-30 08:46] carsonip commented on #71
Yes, I will compile the next version with Ubuntu 18.04.

[2020-06-02 16:28] carsonip commented on #73
Hi @kristbaum,

Sorry for the late reply. I have created a snapcraft.io account and find my email in git commit history here: https://github.com/carsonip/Penguin-Subtitle-Player/commit/b80e65bf82fd8a3218022d200005b31e8f01c612.patch

I'm wondering how do I mix this with my git tag and release workflow? If the CI listens on master, will it create master builds with the same version repeatedly? Then

[2020-06-04 23:24] kristbaum commented on #73
Yeah, that would be a solution. Or you can just not promote the non-stable builds of the snap (the ones, which are created after each commit), and wait until there is a new stable version to promote that. I think this would be easier, as you wouldn't not need to change your development flow.

The only thing to remember is to promote the snap build after a release to stable, and maybe change the ve

[2020-06-21 07:36] carsonip commented on #73
Merged #74

[2020-06-21 07:36] #73 closed

[2020-06-21 16:47] carsonip commented on #72
Hi @mbattaglia, sorry for replying so late. I can finally reproduce the issue. It is not a problem about different drives, but more about the file path containing non-ascii character in Windows. I will fix this ASAP. Thanks again for the bug report and the gif.

[2020-06-21 17:15] carsonip commented on #72
Clarification: It happens in Windows only, when the file path contains non-ascii characters. It will cause a problem with the charset detection step. This problem exists prior to 1.3.0, just that 1.3.0 caught the error and displayed it, i.e. charset detection will always fail in Windows if the file path has non-ascii chars. This issue will be fixed in 1.3.1.

[2020-06-22 15:47] #72 closed

[2020-06-22 17:13] carsonip commented on #71
Fixed in v1.3.1

[2020-06-22 17:13] #71 closed

[2020-07-26 20:12] leonardmitri opened #76 "Feature request: Synchronization with next-click-counts hotkey"
Just like in the alternative -Subtitle buddy- adding the next-click-counts to the video player and the subtitles so they play at the same time would be much easier.
Ive loving this penguin so far!

[2020-07-27 17:05] carsonip commented on #76
Thanks for your support! I'll have to look into the feature and see if it is good/feasible to add to Penguin Subtitle Player.

[2020-07-27 18:41] leonardmitri commented on #76
Thank you for your work!!!

[2020-09-21 01:28] morafbi opened #77 "Penguin Subtitle Player for android"
It's amazing program but not support android why I hope making this program for android soon it's fantastic Penguin Subtitle

[2020-11-14 18:42] EmilJunker opened #78 "Problems with line breaks and HTML formatted text"
In principle, the Penguin Subtitle Player seems to support HTML formatted text, e.g. subtiles with `<i>` and `</i>` tags are rendered italic:

[code]

![image](https://user-images.githubusercontent.com/19289477/99153140-f44c4d80-26a6-11eb-8ebc-d448ebac61ab.png)

However, I have found that if there are two lines of text and only the second line contains HTML tags, then the tags are ignored and show

[2020-11-14 18:49] carsonip commented on #78
Thanks for reporting this issue. It is a good find. The html processing is done by Qt label's rich text functionality, and it makes sense that once the text is identified as html, it ignores line breaks. So I agree with your suggestion about adding <br> for line breaks in subtitle files mixing html and line breaks.

[2020-12-08 09:38] morafbi opened #79 "I have one question"
i need this program for android can you make it in future

[2020-12-08 18:10] carsonip commented on #79
Thanks for asking. Currently there is no plan for porting the software to Android.

[2020-12-08 18:10] #79 closed

[2021-01-06 16:35] brucerothwell opened #80 "How to Sync with Video Player?"
Penguin seems very nice, but is there a way to make it sync with the video player?

[2021-01-06 16:37] brucerothwell opened #81 "Is there a way to embed into an HTML Video Player?"
If I had a web page with a video player in it, is there a way to add Penguin to sit on top of the video player, and stay in sync with the playing video?  (start/stop/pause, etc)

[2021-01-06 20:54] carsonip commented on #80
It relies on the user to manually sync with any video player. It does not interact with the online video player in any way.

[2021-01-06 20:54] #80 closed

[2021-01-06 20:55] carsonip commented on #81
There may be some chrome extension that does it but Penguin Subtitle Player does not interact with the browser in any way currently.

[2021-01-06 20:55] #81 closed

[2021-02-16 22:30] Marie230947 commented on #29
Does anyone know how to get Penguin to stay on screen when the video you are watching is put into full screen mode?  Using a Mac.

[2021-04-01 02:55] sergeevabc commented on #78
@carsonip, err… is this already done?

[2021-04-03 13:57] #78 closed

[2021-04-03 13:58] carsonip commented on #78
It is now fixed. Please wait for the next release.

[2021-04-03 13:59] carsonip commented on #77
Thanks but no plans for Android yet.

[2021-04-03 13:59] #77 closed

[2021-04-03 13:59] #69 closed

[2021-04-06 04:32] carsonip opened #82 "Snap build failing for many architectures"
The snap https://snapcraft.io/penguin-subtitle-player build is failing for all architectures other than amd64. It appears to be related to the kde-neon extension. As stated in https://snapcraft.io/docs/kde-neon-extension it only supports amd64.

[2021-04-06 04:38] carsonip commented on #82
@kristbaum I'm not good with snaps. Do you have any quick fix in mind? Never mind if it is too much work. We only have amd64 prebuilt binaries for linux anyway.

[2021-04-06 04:39] #60 closed

[2021-04-10 05:39] carsonip commented on #82
@kristbaum Thanks for replying! I was looking for a way to fix the build for other architectures. If there is no quick fix, let's just allow them to fail. There is no need to remove those architectures.

[2021-04-11 21:17] kristbaum commented on #82
It is a upstream issue, because [kde-frameworks](https://snapcraft.io/kde-frameworks-5-core18) have decided to only build for amd64. This may change when the stable base moves to core20, but for now it's sadly broken.

[2021-05-22 21:01] murrayi opened #84 "SSA File Parser: Hard-Coding Related Failures"
First of all, really cool Subtitle Player! Just noticed a few improvements to make the ssa parser a bit more resilient.
https://github.com/carsonip/Penguin-Subtitle-Player/blob/master/src/parsers/ssaparser.cpp

1.) New-Lines and White-Space Stripping
Each line should be able to strip (or skip) new-lines and white-spaces
2.) Not Hard-coding Character Removals
This runs the risk of assuming that wor

[2021-05-23 15:11] carsonip commented on #84
Thanks for your support! I really appreciate your taking the time to read the code. And you are right: the program should fail gracefully on invalid input. I'll fix the parsing code.

[2021-05-23 23:51] carsonip opened #85 "Check if AUR build is working after uchardet git submodule migration"
Since we have added uchardet as a git submodule in master, it may affect builds.
I see that projects out there have specific lines for submodule handling in PKGBUILD: https://github.com/RLovelett/swift-aur/blob/master/PKGBUILD#L93

@alexhk90 Could you confirm whether the AUR build is working for master? If not, can we fix it? Thanks

[2021-05-24 22:30] alexhk90 commented on #85
@carsonip Thank you for the note. The AUR build was broken due to uchardet so I added the line for submodule handling following the example linked and it should now be fixed (confirmed working with version 1.4.0):
https://aur.archlinux.org/packages/penguin-subtitle-player-git/

[2021-05-24 22:32] carsonip commented on #85
@alexhk90 Thanks so much for the swift action! Really appreciate it!

[2021-05-24 22:32] #85 closed

[2021-05-25 23:18] #84 closed

[2021-06-08 20:44] #54 closed

[2021-06-08 22:08] carsonip commented on #59
Revisiting this. This is not hard when we use plain text only: https://stackoverflow.com/questions/64290561/qlabel-correct-positioning-for-text-outline
But the project now uses rich text in QLabel in all cases. Mixing rich text (HTML) and text outline/stroke is hard.

[2021-06-10 21:03] EmilJunker opened #86 "Speed factor spin box step value"
The step value of the "speed factor" spin box in General preferences is set to 0.002, so it increases/decreases by this amount when clicking the up/down buttons.

https://github.com/carsonip/Penguin-Subtitle-Player/blob/5112bb55a3e8932fc4d102a2d223f1256646d454/src/prefconstants.h#L18

Is there a particular reason why it is set to 0.002 instead of 0.001?

I'm asking because recently I was watching

[2021-06-27 14:28] #86 closed

[2021-06-27 14:31] carsonip commented on #86
Sorry for the late reply. There was no specific reason to have step 0.002 instead of 0.001, and now I think that 0.001 may be less confusing for most people. It is now changed and will be available in the next release. Your use case is very special and I'm glad you find this feature useful!

[2021-09-05 21:04] anishmittal2020 opened #87 "Linux Binary does not work on Ubuntu 20.04"
I am getting the following error:

![image](https://user-images.githubusercontent.com/42092626/132141384-fd5003be-0469-46c1-ac87-e5974c07d8f2.png)

What should I do?

[2021-09-05 21:59] carsonip commented on #87
@anishmittal2020 I realize sharing binary executable is actually not a good idea to distribute a software for Linux. I'm sorry it didn't work for you. Do you mind using snaps? https://snapcraft.io/penguin-subtitle-player

[2021-09-06 01:34] anishmittal2020 commented on #87
I execute it from command line, then it works.

[2021-09-06 08:31] carsonip commented on #87
Great to know, closing

[2021-09-06 08:31] #87 closed

[2021-09-16 14:06] EmilJunker commented on #76
Any update on this? I think it would be a useful feature.

Maybe this could be implemented via the QEvent::FocusOut event. So when next-click-counts is activated and I click the play button, it shouldn't start playing right away but wait until the window loses focus (i.e. I click somewhere outside the window).

Maybe this can help (different use case but similar idea):
https://www.qtcentre.org/thr

[2021-10-03 07:00] mobilelifeful opened #88 "Feature request: Can we use this app to play subtitle syncing with other video player?"
For example,
![image](https://user-images.githubusercontent.com/91811647/135743586-f1020e95-d6e2-4ec2-9c26-1391e2b1bade.png)

We can see how the video is playing on top, and the subtitles is playing at the button in as separated window, which creates a lot other use cases. Thank you.

[2021-10-05 00:36] alexchandel commented on #30
@carsonip  Could you please add an option in the settings to create the window with `Qt::Tool` instead of `Qt::WindowStaysOnTopHint`?

[2021-10-11 15:38] regymm opened #89 "[Feature Request] Multi-language subtitle support?"
Hi, I'm trying to use this software but met some problems when playing .ASS subtitle files with multiple languages. Apologies if this has been asked before.

For example in [this file](https://gist.github.com/regymm/11baaaa7df4ac5dcbb2db9589844d101), lines before 808 are a full Japanese subtitle of the caption, lines 809 to 1541 are Chinese translations, and the rest are furigana appearing on top

[2021-10-18 19:07] carsonip commented on #30
I have experimented with `Qt:Tool`, and even with `Qt::WA_MacAlwaysShowToolWindow`, but the window will not display on top of a fullscreen app. Is it because the fullscreen window is on a new desktop? Still looking for a workaround.

[2021-10-18 19:13] carsonip commented on #30
This may be relevant: https://stackoverflow.com/q/47711138

[2021-10-30 16:19] carsonip opened #92 "CI build is failing"
Linux build is failing probably because of Let's Encrypt's Root Certificate's recent expiry affecting submodule fetch for uchardet on gitlab.freedesktop.org.

[2021-10-30 17:25] #92 closed

[2021-10-30 18:41] #76 closed

[2021-10-31 10:49] EmilJunker commented on #76
@carsonip
Thank you so much for this neat feature!

Would it be possible to also add "next click counts" for pausing? So when I right click the pause button, it waits for the next click before it actually pauses.

[2021-11-04 15:00] Mingtu2019 opened #94 "there is something wrong about the time."
When I load the subtitles, its time is wrong. It cannot load all subtitles.
The original subtitles are 45 minutes, and the loaded subtitles are less than 4 minutes. I don't know how to solve it, please help, thank you very much. ——From Google Translate

change .txt to .ass

[Doctor.Who.2005.S01E02.1080p.BluRay.x264-SHORTBREHD.ChsEngA.ass.txt](https://github.com/carsonip/Penguin-Subtitle-Player/fil

[2021-11-04 17:16] carsonip commented on #94
Thanks. Can confirm the bug. Your subtitle file does not have the timeline sorted and Penguin Subtitle Player does not handle that.

It is somehow related to #89

[2021-11-05 05:47] Mingtu2019 commented on #94
thank you for your reply. In addition, subtitles like the one below cannot be loaded at all. After choosing to load this subtitle, nothing happened, no timeline, no subtitles, and nothing.
Thanks again! ——From Google Translate

change .txt to .srt

[doctor.who.2005.s01e02.720p.bluray.x264-shortbrehd.srt.txt](https://github.com/carsonip/Penguin-Subtitle-Player/files/7480868/doctor.who.2005.s01e02.7

[2021-11-05 12:25] carsonip commented on #94
Please change the file extension from `.srt` to `.ass` and it should work. But it still suffers from the bug you reported and results in a 4 minute timeline.

[2021-11-05 13:22] Mingtu2019 commented on #94
Ok, I'll try. Thanks you.

[2021-11-05 13:22] Mingtu2019 commented on #94
Ok, I'll try. Thanks you.

[2021-11-06 23:33] carsonip opened #95 "Use Qt 5.15 startSystemMove"
Use native system move which is startSystemMove in Qt 5.15. This will require build toolchain upgrade.

[2021-11-15 21:43] carsonip opened #96 "Next Click Counts for pause"
Requested in #76

[2021-11-15 21:46] #96 closed

[2022-08-12 06:46] kororro opened #97 "Feature requests: pause, jump text"
Would be nice to have Pause (SPACE), Text forward (Y or arrow right) and Text backward (G, or arrow left).
Space, G and Y keys are from MPlayer which I'm used to (http://www.mplayerhq.hu/design7/news.html)

[2022-08-13 07:27] Rom888 commented on #19
I can't find this key in dconf-editor on Ubuntu 20.04.
Any suggestions will be appreciated.

[2022-08-13 07:47] Rom888 opened #98 "Installation on Ubuntu 20.04"
Is there an installation guide for Ubuntu 20.04?

My trial:
[code]

[2022-09-22 17:01] carsonip commented on #98
Hi @Rom888, sorry for the late reply. It is the first time I hear this. Have you tried this? https://stackoverflow.com/a/62923539
```export -n SESSION_MANAGER```

[2022-09-22 17:13] #94 closed

[2022-09-23 19:18] Rom888 commented on #98
Thanks @carsonip,
Now I see an icon in my tray, but how can I open settings?
Nothing happens if I click on it.

[2022-09-23 19:41] carsonip commented on #98
Does right click on the tray icon work?

[2022-09-24 17:16] Rom888 commented on #98
No (